body {
  background-color: powderblue;
  background: linear-gradient(to bottom right, powderblue, #8ea9d4);
   background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url(photo.jpg);
  background-size:cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}
.games{
  background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75));
  background-size:cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}
.navbar{
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  }
.logo{
  width: 120px;
  cursor: pointer;
  }
  .content{
    width: 100%;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    text-align: center;
  }
h2{
  color:white;
  font-family: courier,serif;
  font-size: 400%;
  margin: 0 auto;
  padding: 20px;
  width: 200px;
  text-align: center;
}
h3{
  color:#324aa8;
  font-family: courier,serif;
  font-size: 300%;
  }
p{
  color:white;
  font-family: courier,serif;
  font-size: 160%;
}

.slideshow-container {
    position: relative;
    max-width: 800px;
    margin: auto;
  }
  .mySlides {
    display: none;
  }

button{
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border:2px solid DodgerBlue;
  background: transparent;
  color: blue;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  }
  span{
    background: DodgerBlue;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
    }
  button:hover span{
  	width: 100%;
	}
 button:hover{
  	border: none;
	}
/*button:linked{
  color: DodgerBlue;
  border:2px solid DodgerBlue;
  text-align: center;
}
button:visited{
  color:blue;
  border:2px solid DodgerBlue;
}
button:hover{
  color: blue;
  border:2px solid DodgerBlue;
}
button:active{
  border:2px solid DodgerBlue;
} */
.primaryButton{
  background-color: #3c5680;
  border-color: aquamarine;
  color: white;
}
.center {
    text-align: center;
  }
  ul{
  text-align: left;}
