body {
  background-color: powderblue;
  background: linear-gradient(to bottom right, powderblue, #8ea9d4);
}
.games{
  backgound-image: linear-
  gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url(backgroung.jpg);
  background-size:cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}
h2{
  color:#132c54;
  font-family: courier,serif;
  font-size: 200%;
  margin: 20px;
  padding: 20px;
  border: 2px solid black;
}
p{
  color:#193f70;
  font-family: courier,serif;
  font-size: 100%;
}
//de aici
.slideshow-container {
    position: relative;
    max-width: 800px;
    margin: auto;
  }
  .mySlides {
    display: none;
  }
  
button:linked{
  color: DodgerBlue;
  border:2px solid DodgerBlue;
  text-align: center;
}
button:visited{
  color:blue;
  border:2px solid DodgerBlue;
}
button:hover{
  color: blue;
  border:2px solid DodgerBlue;
}
button:active{
  border:2px solid DodgerBlue;
}
.primaryButton{
  background-color: #3c5680;
  border-color: aquamarine;
  color: white;
}
.center {
    text-align: center;
  }
  